.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--size-8, 32px);
    align-items: flex-start;
    width: 588px;
}

.items-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--size-20, 80px);   
}

.items-wrapper > h2 {
    font: var(--heading-h6-2);
}