.loading {
  width: var(--size-8);
  height: var(--size-8);
}
.loading-icon {
  animation: spin 1s linear infinite;
}

@media (min-width: 768px) {
  .loading {
    width: var(--size-14);
    height: var(--size-14);
  }
}

@media (min-width: 1024px) {
  .loading {
    width: var(--size-24);
    height: var(--size-24);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    transform-origin: center;
  }
  to {
    transform: rotate(360deg);
    transform-origin: center;
  }
}
